
.head-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 100px;
}

.head-left {
    display: flex;
    flex-direction: row;
}

.search {
    align-self: center;
}

.head-right {
    display: flex;
}
