
.head-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head-left {
    display: flex;
    flex-direction: row;
}

.head-right {
    display: flex;
    flex-direction: row;
}